*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffffff;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Lora';

}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.profil-parent{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (min-width: 300px) {
  .introduction, .foto-profil {
      width: 100%
  }

  .isi-content{
     margin-bottom: 50px;
  }

  .introduction h1{
    margin-left: 50px;
  }

  .introduction p{
    margin-left: 50px;
  }

  .isi-bawah-content{
    margin-bottom: 50px;
  }

  .tombol{
    margin-left: 50px;
  }

  

}

@media screen and (max-width: 1000px) {
  .profil-parent{
    margin-top: 50px;
  }

  .real-foto{
    width: 65%;
  }

  
  
}
@media screen and (min-width: 1000px) {
  .introduction, .foto-profil {
      width: 50%;
  }
  
}

@media  screen and (min-width: 1200px) {
  .container{
    width: 1200px;
    margin: 0 auto;
  }
  
}

.introduction{
  display: flex;
  
}

.introduction span{
  color: rgb(196, 13, 50);
}

.tulisan-introduction{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.tombol{
  margin-top: 20px;

}

.button:hover {
  background-color:#002ead;
  transition: 0.7s;
}

.tombol button{
  font-family: 'Poppins';
}

.tulisan-introduction button{
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: 16px;
}


.introduction h1{
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-family: 'Poppins';
  font-weight: bolder ;
  
}

.introduction p{
  color: rgb(0, 0, 0);
  font-family: 'Lora';
  font-size: 20px;
}

.foto-profil{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto-profil img{
  margin-top: 50px;
  width: 90%;
}

.real-foto{
  display: flex;
  justify-content: center;
}

.content{
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 150px;
}

.subjudul-content{
  padding: 5px;
}

.subjudul-content h2{
  font-family: 'Poppins';
}

.subjudul-content p{
  font-family: 'Lora';
  font-size: 16px;
}

.content{
  background-color: rgb(194, 189, 189);
  border-radius: 10px;
  border: #333 solid;
}

.content h2{
  font-size: 50px;
}

.isi-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 50px;
}

.isi-content p{
  font-size: 20px;
}

.isi-content1{
  border-radius: 10px;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.isi-content2{
  border-radius: 15px;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.isi-content3{
  border-radius: 15px;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.isi-content h3{
  margin-top: 50px;
  font-size: 30px;
  font-family: 'Poppins';
}

.isi-content p{
  font-family: 'Lora';
  font-size: 16px;
}

.bawah-content{
  margin-top: 150px;
  text-align: center;
  margin-bottom: 150px;
  background-color: rgb(241, 113, 8);
  border: #000 solid;
  border-radius: 10px;
}

.judul-bawah-content{
  padding: 5px;
}

.bawah-content h2{
  font-size: 50px;
  font-family: 'Poppins';
}

.isi-bawah-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 50px;
}

.isi-bawah-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-bawah-content{
  border-radius: 10px;
  padding: 20px;
  color: rgb(0, 0, 0);

}

.project-bawah-content h3{
  font-family: 'Lora';
  font-weight: 500;
}

.cover-project{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  background-color: white;
}

.isi-cover-project{
  margin-bottom: 50px;
}

.isi-cover-project h3{
  margin: 20px 10px;
}

/*Footer Section */
footer{
  padding: 4rem 0;
  text-align: center;
  background-color: #aab0b4;
}

.footer-icon{
  margin-bottom: 1rem;
}

.footer-icon a{
  margin: 0 .5rem;

}

.footer-icon svg{
  fill: #3e3f40;
}

.footer-icon a:hover svg{
  fill: #000;
}

footer p{
  font-family: 'Lora';
}

.basa-basi{
  margin-bottom: 1rem;
}

.basa-basi h2{
  font-family: 'Poppins';
  margin-bottom: 1rem;
}

.basa-basi p{
  font-family: 'Lora';
}